@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .transition-span{
        transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18, 1) 0s, 0.3s margin ease-in 0s;
    }

    .section-style{
        @apply h-screen w-auto bg-center bg-cover flex items-center justify-center relative p-12 font-bold text-3xl after:content-[] scale-100
        after:absolute after:bg-black/10 after:opacity-50 after:h-full after:w-full after:top-0 after:left-0
    }

    .containerr.menu-open{
        @apply blur-md;
    }

    .transition-a{
        transition: 0.1s all cubic-bezier(0.080, 0.9, 0.18, 1) 0.6s, 0.3s color ease;
    }

    header.stick #logo{
        @apply opacity-0
    }

    header.stick nav{
        @apply top-3 lg:top-6 p-0 w-16 h-16 lg:w-24 lg:h-24 
    }

    header.stick nav button{
        @apply scale-100 delay-200
    }

    header.stick nav button span{
        @apply scale-x-100;
        transition: 0.6s transform cubic-bezier(0.080, 0.9, 0.18, 1) 0.8s, 0.1s margin ease-in 0s; 
    }

    header.stick nav a{
        @apply opacity-0 scale-50 delay-100
    }
}